PORT=5002
MONGODB_URI=mongodb+srv://faizrahman070806_db_user:kytTns18YszEBMxW@cluster0.aravg5g.mongodb.net/?appName=Cluster0
JWT_SECRET=faizur123
CLIENT_URL=http://localhost:5173
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
ESCROW_CONTRACT_ADDRESS=0xYourDeployedEscrowContractAddress
